th,td{
	border:2px solid black;
}
table{
	border-collapse: collapse;
	width: 90%;
	height: 50%;
	margin:10px;
}
.canphai{
	text-align: right;
	border-width: 0px;
	color: blue;
}
.block{
	border-width: 0px;
	color:blue;
}

h1{
	text-align: center;
	color: blue;
}
th{
	background-color: orange;
	font-weight: bold;
	text-align: center;
}
.yellow{
	background-color: yellow;
	font-weight: bold;
	text-align: center;
}