th,td{
	border:1px solid black;
}
table{
	border-collapse: collapse;
	width: 100%;
	height: 50%;
}
.canphai{
	text-align: right;
	border-width: 0px;
	color: lightblue;
}
.block{
	border-width: 0px;
	color:lightblue;
}

h1{
	text-align: center;
	color: blue;
}
th{
	background-color: orange;
	font-weight: bold;
	text-align: center;
}
.yellow{
	background-color: yellow;
	font-weight: bold;
	text-align: center;
}